<script>
import menuApp from '../menuApp'
import topMenu from '../topMenu'
import contact from '../contact'
import contentAboutUs from '../contentAboutUs'

export default {
  name: 'aboutUs',
  components: {menuApp, topMenu, contact, contentAboutUs},
  data () {
    return {
      name: 'aboutUs'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
<div>
  <menu-app></menu-app>
  <div id="aboutUs" >
    <top-menu style="border-bottom: 1px solid #eaeaea; padding-bottom: 2%;"></top-menu>
    <content-about-us></content-about-us>
    <contact></contact>
  </div>
</div>
</template>

<style scoped lang="scss">
#aboutUs {padding: 40px;}
</style>