<script>
// import {mapGetters} from 'vuex'
import menuApp from '../menuApp'
import topMenu from '../topMenu'
import contentBrief from '../contentBrief'
import contact from '../contact'

export default {
  name: 'brief',
  components: {menuApp, topMenu, contentBrief, contact},
  data () {
    return {
      name: 'brief'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
<div>
  <menu-app></menu-app>
  <div id='brief'>
    <top-menu style="border-bottom: 1px solid #eaeaea; padding-bottom: 2%;"></top-menu>
    <content-brief></content-brief>
    <contact></contact>
  </div>
</div>
</template>

<style scoped lang="scss">
#brief {padding: 40px;}
</style>