<script>
//  import { mapGetters, mapActions } from 'vuex'
import menuApp from '../menuApp'
import headers from '../header'
import ourServices from '../ourServices'
import gallery from '../gallery'
import contact from '../contact'
import topMenu from '../topMenu'

export default {
  name: 'test',
  components: { menuApp, headers, ourServices, gallery, contact, topMenu },
  data () {
    return {
      link: '4779'
    }
  },
  methods: {
  },
  created: function () {
    this.$store.dispatch('getDataJson', this.link)
  },
  computed: {
  }
}
</script>

<template>
<div>
  <menu-app></menu-app>
  <div id="home" class="container-fluid">
  <div id="head">
    <top-menu></top-menu>
    <headers></headers>
    <our-services></our-services> 
  </div>  
  <gallery></gallery> 
  <contact></contact>
</div>
</div>
</template>

<style lang="scss">
@import "../../assets/style.scss";

#home{
  color: $color-text;
  // @include transition(transform .3s .1s, );
  transition: transform .3s .1s, -webkit-transform .3s .1s;
  padding: 40px;
  @media (max-width: 768px) {
    padding: 20px;
  }
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.noScroll{
  overflow: hidden;
}
</style>