<script>
// import {mapGetters} from 'vuex'
import menuApp from '../menuApp'
import feedback from '../feedbackApp'
import contact from '../contact'
import topMenu from '../topMenu'
import vacancyTemplate from '../vacancyTemplate'

export default {
  name: 'vacancy',
  components: {menuApp, feedback, contact, topMenu, vacancyTemplate},
  data () {
    return {
      name: 'vacancy'
    }
  },
  methods: {
    names () {
    },
    toggleVacancy () {
      console.log('kek')
      let togglVac = document.getElementById('feedback')
      togglVac.classList.toggle('toggleMenu')
      if (togglVac.classList.contains('toggleMenu')) {
        document.body.classList.remove('noScroll')
        console.log('true!')
      } else {
        document.body.classList.add('noScroll')
      }
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
<div>
  <menu-app></menu-app>
  <feedback></feedback>
  <div id='vacancy'>
    <top-menu style="border-bottom: 1px solid #eaeaea; padding-bottom: 2%;"></top-menu>
    <vacancy-template @openFeedBackApp='toggleVacancy'></vacancy-template><!--  @click.native="log" -->
    <contact></contact>
  </div>
</div>
</template>

<style scoped lang="scss">
#vacancy {padding: 40px;}
.noScroll{
  overflow: hidden;
}
</style>