<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'bot',
  data () {
    return {
      name: 'bot',
      i: 0,
      input: '',
      massForForm: [],
      massAnswersSuccess: ['Привет ' + this.input + ' ,напиши свой e-mail', 'И свой телефон для связи с тобой', 'Опиши ситуацию подробнее', 'Отлично, я отправляю эти данные руководству'],
      massAnswersErrors: 'я тебя не понимаю, попробуй еще раз',
      eventBottonForBot: 'Yes'
    }
  },
  methods: {
    addTextForScreen () {
      //  filters
      // let regText = /^[а-яА-ЯёЁa-zA-Z]+$/
      // let regMail = /^[а-яА-ЯёЁa-zA-Z]+$/
      // let regNumber = /^[0-9]+$/
      // if (reg.test(this.input)) {
      // console.log(regNumber.test(this.input))
      // }
      if (this.massAnswersSuccess[this.massAnswersSuccess.length] === this.massAnswersSuccess[this.i]) {
        this.createQuestionSendData('Yes')
        this.createQuestionSendData('No')
        // this.namecreateQuestionSendData()
        // this.createBlockBot(textForBot = '')
        // if (this.createQuestionSendData === true) {
        //   console.log('true')
        // } else {
        //   console.log('false')
        // }
      } else {
        this.massForForm.push(this.input)
        // console.log(this.massForForm)
        this.createBlockUser()
        this.nextQuestion()
        // console.log(this.massAnswersSuccess.current)
        // this.createBlockBot(this.massAnswersSuccess[0])
      }
    },
    nextQuestion () {
      console.log(this.massAnswersSuccess[this.i])
      this.createBlockBot(this.massAnswersSuccess[this.i])
      this.i++
    },
    createBlockUser () {
      // create tag p
      let p = document.createElement('p')
      p.innerHTML = this.input
      p.setAttribute('data-v-08fbe287', '')
      // create tag img
      let img = document.createElement('img')
      img.setAttribute('src', '/static/img/human.111c621.png')
      img.setAttribute('data-v-08fbe287', '')
      // create tag div
      let div = document.createElement('div')
      div.classList.add('textUser')
      div.setAttribute('data-v-08fbe287', '')
      div.appendChild(img)
      div.appendChild(p)
      document.getElementById('message').appendChild(div)
      // clear input
      this.input = ''
    },
    createBlockBot (textForBot = '') {
      // create tag p
      let p = document.createElement('p')
      p.innerHTML = textForBot
      p.setAttribute('data-v-08fbe287', '')
      // create tag img
      let img = document.createElement('img')
      img.setAttribute('src', '/static/img/robot.8a8a5a7.png')
      img.setAttribute('data-v-08fbe287', '')
      // create tag div
      let div = document.createElement('div')
      div.classList.add('textBot')
      div.setAttribute('data-v-08fbe287', '')
      div.appendChild(img)
      div.appendChild(p)
      document.getElementById('message').appendChild(div)
      this.scrollMessage()
      // clear input
      this.input = ''
    },
    createQuestionSendData (textForRadio = '') {
      // create radio
      // let input = document.createElement('input')
      // input.classList.add('radioInput')
      // input.setAttribute('data-v-08fbe287', '')
      // input.setAttribute('type', 'radio')
      // input.setAttribute('name', textForRadio)
      // create p
      let p = document.createElement('p')
      p.classList.add('radioP')
      p.setAttribute('data-v-08fbe287', '')
      p.innerHTML = textForRadio
      p.addEventListener('click', () => { this.eventBottonForBot = textForRadio; this.sendDataToEmail() })
      // p.appendChild(input)
      // create div (wrap)
      let div = document.createElement('div')
      div.classList.add('selectOption')
      div.setAttribute('data-v-08fbe287', '')
      div.appendChild(p)
      document.getElementById('message').appendChild(div)
      this.scrollMessage()
    },
    sendDataToEmail () {
      // отправка данных на почту
      console.log('--------------------------------------')
      let div = document.createElement('div')
      div.classList.add('changeScreen')
      div.setAttribute('data-v-08fbe287', '')
      // let idBot = document.getElementById('bot')
      let classBot = document.getElementsByClassName('bot')
      classBot.remove()
    },
    scrollMessage () {
      let mess = document.getElementById('message')
      mess.scrollTop = 9999
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div class='bot'>
    <div id="message">
      <div class="textBot"><img src="../assets/robot.png"><p>Привет, я бот 99devs!!! </p></div>
      <div class="textBot"><img src="../assets/robot.png"><p>Представься </p></div>
      <!-- Вставка блоков сниз через функцию -->
    </div>
    <div class="input">
      <div class="block">
        <input type="text" name="inputText" placeholder="Введите ваше сообшение" v-model="input" @keyup.enter="addTextForScreen()"/>
        <input type="submit" value="🡹" @click="addTextForScreen()"/>
      </div>
    </div>
    <form action="" method="post" id="formBot">
      <input type="text">
    </form>
  </div>
</template>

<style scoped lang="scss">

@import "../assets/style.scss";

.bot { }
.input {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.block{
  width: 95%;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  background: $color-white;
}
.input input[type="text"]{
  color: #afaeae;
  width: 92%;
  padding: 1.5% 1.5%;
  border: none;
  font-size: 1em;
}
.input input[type="text"]:focus{
  .block{
    -webkit-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
  }
}
.input input[type="submit"]{
  background: none;
  border: none;
  color: #afaeae;
}
#message{
  font-size: 0.9em;
  width: 100%;
  padding: 7% 8%;
  height: 47vh;
  overflow-y: auto;
}
#message::-webkit-scrollbar { width: 0; -ms-overflow-style: none; } 
.textBot{text-align: left;}
.textBot img{
  width: 5%;
  margin: -3% -7% -3% -6.8%;
  float: left;
}
.textBot p{
  background: #f8f9fa;
  color: #868e96;
  padding: 2% 3%;
  border-radius: 0px 20px 20px 20px;
  margin-right: 50%;
  text-align: center;
}
.textUser{text-align: right;}
.textUser img{
  width: 6%;
  margin: -4% -7%;
  float: right;
}
.textUser p{
  background: #e2eefb;
  color: #015bbb;
  padding: 2% 3%;
  border-radius: 20px 0px 20px 20px;
  margin-left: 60%;
  text-align: center;
}
.radioP{
  color: #015bbb;
  padding: 2% 0%;
  width: 42%;
  border: 1px solid #edeff8;
  border-radius: 30px;
  cursor: pointer;
  float: left;
  margin: 1% 3% 4% 0%;
}
.radioP:active{
  background: #e2eefb;
  border: 1px solid #e2eefb;
}
.changeScreen{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}


/* formBot */
#formBot{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
</style>