<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'contentBrief',
  data () {
    return {
      name: 'contentBrief'
    }
  },
  methods: {
    getCheckboxName (name = '') {
      let nameCheckbox = document.getElementsByName(name)
      nameCheckbox.checked ? nameCheckbox.checked = false : nameCheckbox.checked = true
      nameCheckbox.checked ? console.log('true') : console.log('false')
      let getHoverBlock = nameCheckbox[0].nextElementSibling
      console.log(getHoverBlock)
      getHoverBlock.style.display = getHoverBlock.style.display === 'none' ? getHoverBlock.style.display = 'block' : getHoverBlock.style.display = 'none'
      let border = nameCheckbox[0].parentElement
      border.style.borderColor = border.style.borderColor === '#00599f' ? border.style.borderColor = '#eaeaea' : border.style.borderColor = '#00599f'
      // border.style.borderColor = '#00599f'
      console.log(border)
      // let getDiv = document.getElementsByClassName('selectBlock')[0]
      // getDiv.document.getElementsByClassName('hover')
      // let inputInDiv = document.getElementsByName(name)
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div class='row contentBrief'>
    <div class="col-12 titleAbout"><p>Бриф</p></div>
    <div class="col-12 question">
        <p class="titleQuestion">1. Какой продукт необходимо разработать?</p>
        <p class="childTitleQuestion">*Вы можете выбрать несколько продуктов</p>
        <div class="selectionBlocks col-10 row">
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('WebDesign')">
            <img src="../assets/ourservice/webdesign.svg">
            <p class="textService">Веб сайт</p>
            <input type="checkbox" name="WebDesign" />
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('AppDesign')">
            <img src="../assets/ourservice/uidesign.svg">
            <p class="textService">Приложение</p>
            <input type="checkbox" name="AppDesign">
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('WebDesign2')">
            <img src="../assets/ourservice/seo.svg">
            <p class="textService">Веб сайт</p>
            <input type="checkbox" name="WebDesign2" />
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('styleDesign')">
            <img src="../assets/ourservice/programming.svg">
            <p class="textService">Фирменный стиль</p>
            <input type="checkbox" name="styleDesign">
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('WebDesign3')">
            <img src="../assets/ourservice/seo.svg">
            <p class="textService">Веб сайт</p>
            <input type="checkbox" name="WebDesign3" />
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('WebDesign4')">
            <img src="../assets/ourservice/webdesign.svg">
            <p class="textService">Веб сайт</p>
            <input type="checkbox" name="WebDesign4" />
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock" @click="getCheckboxName('commercialDesign')">
            <img src="../assets/ourservice/uidesign.svg">
            <p class="textService">Рекламный принт</p>
            <input type="checkbox" name="commercialDesign">
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 selectBlock"  @click="getCheckboxName('styleDesign2')">
            <img src="../assets/ourservice/uidesign.svg">
            <p class="textService">Фирменный стиль</p>
            <input type="checkbox" name="styleDesign2"/>
            <div class="hover" style="display: none;">
              <img src="../assets/ourservice/uidesign.svg">
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 question">
        <p class="titleQuestion">2. Для какого бренда(марки, компании)?</p>
        <p class="childTitleQuestion">*Полное и сокращенное название</p>
        <input type="text" class="inputAnswer"/>
    </div>
    <div class="col-12 question">
        <p class="titleQuestion">3. Бюджет проекта?</p>
        <p class="childTitleQuestion">*Предполагаемый бюджет на разработку продукта</p>
        <input type="text" class="inputAnswer"/>
    </div>
    <div class="col-12 question">
      
        <p class="titleQuestion">4. Желаемые сроки выполнения?</p>
        <p class="childTitleQuestion">*Вопрос актуален, если есть критические сроки и обязательства, которые определяют срок запуска проекта</p>
        <input type="text" class="inputAnswer"/>
    </div>
    <div class="col-12 question">
      
        <p class="titleQuestion">5. Ссылка на существующий сайт?</p>
        <p class="childTitleQuestion">*Укажите действующий сайт компании</p>
        <input type="text" class="inputAnswer"/>
    </div>
    <div class="col-12 question">
        <p class="titleQuestion">6. Контактная информация?</p>
        <p class="childTitleQuestion">*Контактные лица: телефон, должность, E-mail, Skype</p>
        <input type="text" class="inputAnswer"/>
    </div>
    <div class="col-12 question">
        <p class="titleQuestion">7. Подробное описание?</p>
        <p class="childTitleQuestion">*Если вы хотите что-либо добавить</p>
        <textarea class="textAreaAnswer"></textarea>
    </div>
    <div class="col-12 buttonSend">
      <input type="button" name="button" value="Отправить бриф"/>
          <p class="childTitleQuestion">*Мы свяжемся с вами в течении суток</p>
    </div>
  </div>
</template>

<style scoped lang="scss">

@import "../assets/style.scss";

.contentBrief { }
.col-12{padding: 0}
.titleAbout {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 4%;
}

.question{margin-top: 3%;}

.titleQuestion{   
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5%;
}
.childTitleQuestion{font-size: 0.9em;}
.inputAnswer{
  border: 1px solid #eaeaea;
  text-align: center;
  padding: 2% 19%;
  margin-top: 1%; 
}
.textAreaAnswer{
  padding: 3% 19%;
  border: 1px solid #eaeaea;
}
.buttonSend input {
  background: transparent;
  border-radius: 30px;
  padding: 10px 3%;
  color: $color-openMenu;
  text-align: center;
  border: 2px solid $color-openMenu;
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 1em;
}
.buttonSend input:hover {
  background: $color-openMenu;
  border-radius: 30px;
  padding: 10px 3%;
  color: $color-white;
  text-align: center;
  border: 2px solid $color-openMenu;
  margin-top: 4%;
  font-size: 1em;
}
.selectionBlocks{margin: 0 auto; margin-top: 2%;}
.selectBlock{
  border: 1px solid #eaeaea;
  padding: 3%;
  height: 300px;
}
.selectBlock img{
  height: 75%;
  margin-bottom: 14%;
}
.selectBlock input{
  display: none;
}
.hover{
  // display: none;
  position: absolute; 
  top: 0;
  left: 0;
  background: $color-openMenu;
  width: 100%;
  height: 100%;
  .selectBlock{border-color: $color-openMenu;}
}
.hover img{
  height: 75%;
  filter: grayscale(68) invert(100%) brightness(2);
  margin-top: 10%;
}
</style>