<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'aboutContent',
  data () {
    return {
      name: 'aboutContent'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div id='aboutContent'>
    <div class="col-12 titleAbout"><p>О нас</p></div>
    <div class="col-12 image"><img src="../assets/aboutUs.jpg"></div>
    <div class="col-10 contentAbout textAbout"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="row col-10 blockContent">
      <div class="col-12 col-sm-6 col-md-3 blockAboutUs">
        <p class="titleBlock">218</p>
        <p class="textBlock">Успешных проектов</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 blockAboutUs">
        <p class="titleBlock">675</p>
        <p class="textBlock">Чашек кофе выпито</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 blockAboutUs">
        <p class="titleBlock">8435</p>
        <p class="textBlock">Отработанных часов</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 blockAboutUs">
        <p class="titleBlock">192</p>
        <p class="textBlock">Довольных клиентов</p>
      </div>
    </div>
    <div class="col-12 titleAbout"><p>Принципы</p></div>
    <div class="col-10 contentAbout"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took dummy text of dummy text of the printing and typesetting industry the printing and typesetting industry a galley of type and scrambled dummy text of the printing dummy text of the printing and typesetting industry and typesetting industry it to make a type specimen book.</p>
    <p>1. <b>Has survived</b> not only five centuries, but also the leap into essentially 1960s with the release five centuries, electronic typesetting.</p>
    <p>2. <b>Remaining</b> essentially 1960s with the release five centuries, unchanged.</p>
    <p>3. <b>It was popularised</b> in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently essentially 1960s with the release five centuries, with desktop.</p>
    <p>4. <b>Publishing software</b> like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-12 titleAbout"><p>Команда</p></div>
    <div class="col-12"><p>Lorem Ipsum is simply dummy text of the printing</p></div>
    <div class="row col-10 hallOfFame">
      <div class="col-12 col-sm-6 col-md-3 professionBlock">
        <img src="../assets/team/vlad.png">
        <p class="name">Vladislav Nikiforov</p>
        <p class="proffesion">Дизайнер</p>
        <div class="bottomLine"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 professionBlock">
        <img src="../assets/team/arthur.png">
        <p class="name">Arthur Ort</p>
        <p class="proffesion">Дизайнер</p>
        <div class="bottomLine"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 professionBlock">
        <img src="../assets/team/alex.png">
        <p class="name">Alex Valter</p>
        <p class="proffesion">Фронтенд разработчик</p>
        <div class="bottomLine"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 professionBlock">
        <img src="../assets/team/dima.png">
        <p class="name">Dmitrii Zolotukhin</p>
        <p class="proffesion">Фронтенд разработчик</p>
        <div class="bottomLine"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 professionBlock">
        <img src="../assets/team/eugen.png">
        <p class="name">Eugen Fritzler</p>
        <p class="proffesion">Фронтенд разработчик</p>
        <div class="bottomLine"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 professionBlock">
        <img src="../assets/team/mich.png">
        <p class="name">Mich Medvedev</p>
        <p class="proffesion">Фронтенд разработчик</p>
        <div class="bottomLine"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-3" style="margin-top: 3%;">
        <div class="loockVacBlock">
          <img src="../assets/loockVacation.png">
          <p class="loockVacation">Посмотреть вакансии</p>
          <p class="leftarrow">➞</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.titleAbout {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin: 4% 0% 2% 0%;
}

.contentAbout{
  margin: 0 auto;
}
.contentAbout p{
  text-align: justify;
}

.image img {
  width: 83%;
}
.textAbout{
  margin: 4% auto;
}
.blockContent{margin: 0 auto;}

.blockAboutUs{
  // display: inline-block;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding: 4% 5.8%;
}
.blockAboutUs:last-child{
  border-right: 1px solid #eaeaea;
}

.titleBlock{
  font-size: 3em;
  font-weight: 600;
  color: #00599f;
}
.hallOfFame{margin: 0 auto;}

.professionBlock {margin-top: 3%;}
.professionBlock img{display: block;}

.name{
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 2%;
}
.proffesion{
  font-size: 1em;
  text-align: left;
  border-width: 3px;
}
.bottomLine{
position: relative;
top: 0;
left: 0;
width: 12%;
height: 1px;
font-size: 0;
line-height: 0;
border-bottom: 3px solid #00599f;
}

.loockVacBlock{
  width: 64%;
  border: 1px solid #eaeaea;
}
.loockVacBlock img{
  margin: 0 auto;
  display: block;
  padding: 20% 0%;
}
.loockVacBlock:hover{
    background: #00599f;
    border: 1px solid #00599f;
  .loockVacation, .leftarrow{
    color: #ffffff;
  }
}

.loockVacation{
  margin: 0 auto;
  padding: 0% 15% 8% 15%
}
.leftarrow{
  margin-bottom: 7%;
  color: #00599f;
  font-size: 2em;
}
</style>