<script>
// import Vue from 'vue'
import bot from './bot'

export default {
  name: 'contacts',
  components: {bot},
  data () {
    return {
      name: 'contacts',
      form: [
        { nameUser: '' },
        { emailUser: '' },
        { messageUser: '' }
      ]
    }
  },
  methods: {
    onSubmit () {
      alert(this.form.nameUser)
      console.log(this.form.nameUser)
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div id="contacts">
    <div class="col-12"><p class="contacts_title">Контакты</p></div>
    <div class="row contentCenter">
      <div id="map" class="col-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2729.3249819788125!2d29.636325805371094!3d46.837292096293474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1512509096780"
         width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
        <div id="bot" class="col-12 col-md-6">
          <bot></bot>
        </div>
    </div>
    <div id="footer">
      <div class='row align-items-center align-self-center'>
        <ul class="social_menu col-12">
          <li class="social_black"><a href="#"><img src="../assets/social/social_black/facebook.png"/></a></li>
          <li class="social_black"><a href="#"><img src="../assets/social/social_black/instagramm.png"/></a></li>
          <li class="social_black"><a href="#"><img src="../assets/social/social_black/twitter.png"/></a></li>
          <li class="social_black"><a href="#"><img src="../assets/social/social_black/google_plus.png"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "../assets/style.scss";

#contacts{
  margin-top: 90px;
  @media (max-width: 760px) {
    margin-top: 40px;
  }
}
.contentCenter{
  border: 1px solid $border-color;
 }
.col-12, .col-6{
  margin: 0px;
  padding: 0px;
}
.contacts_title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.social_black{
  display: inline-block;
  @media (max-width: 320px) {
    display: block;
  }
}
.social_black a{
  display: block;
  cursor: pointer;
  padding: 10px 20px;
}
.social_menu{
  padding-top: 40px;
}
#map{
  margin-bottom: -7px;
  filter: grayscale(90%);
}
#bot{
  // height: 356px;
}
</style>