<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'feedback',
  data () {
    return {
      name: 'feedback'
    }
  },
  methods: {
    toggleMenu () {
      let toggle = document.getElementById('feedback')
      toggle.classList.toggle('toggleMenu')
      if (toggle.classList.contains('toggleMenu')) {
        document.body.classList.remove('noScroll')
        console.log('true!')
      } else {
        document.body.classList.add('noScroll')
      }
      console.log('close menu')
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div id='feedback' class="toggleMenu">
    <div class='row align-items-start justify-content-between'>
      <div class="col-1 logo" @click="toggleMenu"><router-link to="/"><img src="../assets/logo.svg"/></router-link></div>
      <div class="col-1 buttonClose">
        <a href="#" @click.stop.prevent="toggleMenu"><span></span></a>
      </div>
    </div>
    <div class='row align-items-start justify-content-between'>
      <div class="col-12 title_content"><p>Заполните форму</p></div>
      <div class="col-md-12 inputStyle"><span>Здравствуйте, меня зовут</span><input type="text" placeholder="Полное имя" autofocus>, мне<input type="text" placeholder="Ваш возраст">полных лет.</div>
      <div class="col-md-12 inputStyle"><span>Хочу устроиться на должность</span>
        <select>  
          <option disabled selected>Выбрать</option>
          <option>Web Design</option><option>Web Development</option>
          <option>Frontend Developer</option>
        </select>
        <span>, на</span>
        <select>  
          <option disabled selected>Выбрать</option>
          <option>Полной</option>
          <option>Частичной</option>
        </select> 
        <span>основе.</span>
      </div>
      <div class="col-md-12 inputStyle"><span>Оставляю свой e-mail:</span><input type="text" placeholder="Ваш e-mail">и контактный номер:<input type="text" placeholder="Ваш номер телефона"></div>
      <div class="col-md-12 textareaStyle"><textarea name="text" placeholder="Расскажите о себе"></textarea></div>
      <div class="col-md-12 buttonStyle"><input type="button"  name="button" value="Отправить заявку" @click="toggleMenu"></div>
      <div class="col-md-12"><label>*Мы свяжемся с вами в течении суток</label></div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "../assets/style.scss";

.toggleMenu{
  display: none;
}

#feedback {
  overflow-y: auto;
  // display: none;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #373e4c;
  padding: 40px 57px 40px 40px;
  @media (max-width: 768px) {
    padding: 20px;
  }
}
.logo, .buttonClose{
  margin: 0;
  padding: 0;
}
.logo a img{
  display: block;
  width: 110px;
}
.buttonClose a{
  float: right;
  width: 30px;
  height: 23px;
  overflow: hidden;
  transition: 0.3s;
}
.buttonClose a span{
  float: left;
  width: 30px;
  height: 3px;
  background-color: transparent;
  position: relative;
  top: 10px;
  transition: 0.3s;
}
.buttonClose a span:hover{
  transform: rotate(180deg);
}
.buttonClose a span:before{
  @include buttonClose(-45)
}
.buttonClose a span:after{
  @include buttonClose(45)
}
.title_content p{
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  margin: 5% 0% 2% 0%;
}
.col-md-12{
  margin: 14px 0px;
  font-size: 1.2em;
}
.col-md-12 label{
  padding: 2% 0%;
  font-size: 0.9em;
  color: $color-grey;
}
.inputStyle{
  color: $border-color;
}
.textareaStyle{
  padding: 0 24%;
}
.inputStyle input{
  background: transparent;
  border-radius: 30px;
  // padding: 10px 30px;
  padding: 0.6% 2%;
  color: $border-color;
  text-align: center;
  border: 2px solid $color-white;
  margin: 5px 10px;
  font-size: 0.9em;
}
.inputStyle select{
  background: transparent;
  border-radius: 30px;
  // padding: 10px 30px;
  padding: 0.6% 2%;
  color: $border-color;
  text-align: center;
  border: 2px solid $color-white;
  margin: 5px 10px;
  font-size: 0.9em;
}
.inputStyle select option{
  background: #373e4c;
}
.textareaStyle textarea{
  background: transparent;
  padding: 3% 0%;
  color: $border-color;
  text-align: center;
  border: 2px solid $color-white;
  width: 100%;
}
.buttonStyle input{
  background: transparent;
  border-radius: 30px;
  padding: 10px 2.2%;
  color: $border-color;
  text-align: center;
  border: 2px solid $color-white;
  margin: 10px 10px;
  font-size: 0.9em;
}
.buttonStyle input:hover{
  background: $color-white;
  border-radius: 30px;
  padding: 10px 2.2%;
  color: $color-grey;
  text-align: center;
  border: 2px solid $color-white;
  margin: 10px 10px;
  font-size: 0.9em;
}
</style>