<script>
import {mapGetters} from 'vuex'

export default {
  name: 'gallery',
  data () {
    return {
      arrPhoto: []
    }
  },
  filters: {
    splitTitle (title) {
      return title.replace('_', ' ')
    }
  },
  methods: {
    getPhotoFromObject (value) {
      let val = Array.from(value)
      if (val.length === 0) {
        console.log('К сожаленью в данном разделе еще не появились работы')
        this.arrPhoto = []
      } else {
        this.arrPhoto = val.map(function (item, i) {
          return item.url
        })
      }
    }
  },
  computed: {
    ...mapGetters(['getObjectGalleryPhoto', 'callUi_design']),

    callUiDesign: function () {
      let val = Array.from(this.callUi_design)
      if (!this.callUi_design) {
        return []
      }
      this.arrPhoto = val.map(function (item, i) {
        return item.url
      })
    },
    getPhotosformArr () {
      let imageArr = {}
      if (this.arrPhoto) {
        imageArr = this.arrPhoto
        return imageArr
      }
    }
  },
  created: function () {
  }
}
</script>

<template>
  <div id="gallery" class="container-fluid">
    <div class="row">
      <p class="portfolio_title col-12 align-self-center">Проекты</p>
      <nav class="wrapUl col-12">
      <ul>
        <li v-for="(value, key) in getObjectGalleryPhoto" :key="key.id">
          <a @click.stop="getPhotoFromObject(value)">{{key | splitTitle}}</a>
        </li> 
      </ul>
      </nav>
      <span class="startPhotoGallery" v-if="this.callUiDesign">{{this.callUiDesign}}</span> <!-- call first photos (defaults) -->
      <div class="col-12 styleBlockPhoto">
      <transition-group name="flip-list">
      <div class="col-12 col-sm-12 col-md-6 photo" v-for="(item, key) in getPhotosformArr" :key="item">
        <img :style="{background: 'url('+ item + ') center center / cover ',
        display: 'inline-block',width: '100%',height: '100%'}">
        <a href="#" class="textImg">
          <p>Дизайн мобильного приложения 99devs</p>
        </a>
      </div>
      </transition-group>
      </div>
    </div>
  </div>
</template>

<style scope rel="../assets/style.scss" lang="scss">

.flip-list-move {
  transition: transform 1s;
}
#gallery {
  margin-top: 95px;
  @media (max-width: 760px) {
    margin-top: 40px;
  }
}
.portfolio_title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 25px;
  @media screen and (max-width: 480px) {
    padding: 5% 0%;
  }
}
#gallery .wrapUl{
  text-align: center;
}
#gallery ul {
  /* margin: 3% 0% 10% 22%;
  display: block; */
  list-style: none;
  @media (max-width: 480px) {
    padding: 0;
  }
}
#gallery ul > li {
  /* list-style-type: none; */
  padding: 1% 1%;
  font-size: .8em;
  display: inline-block;
  @media (max-width: 480px) {
  padding: 1% 4%
  }
}
#gallery ul > li > a {
  display: block;
  color: #333333;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 10px 20px;
}
#gallery ul > li > a:hover {
  color: #333333;
  border: 2px solid #437ad7;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 20px;
  -webkit-transition: border duration timing-function delay;
  -moz-transition: border duration timing-function delay;
  transition: border 1s;
}
.container-fluid{
  padding: 0;
}
.styleBlockPhoto{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.photo {
  display: inline-block;
  height: 600px;
  padding: 0px;
}
.photo:hover {
  .textImg, .textImg p{
  display: block;
  }
}
.imgSrc{
  
}
.textImg{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(77, 137, 202, 0.61);
}
.textImg p{
  display: none;
  left: 0%;
  top: 45%;
  margin: 0 20px;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  position: absolute;
  color: white;
}
</style>