<script>
import {mapGetters} from 'vuex'

export default {
  name: 'headers',
  data () {
    return {
      name: 'headers'
    }
  },
  methods: {
  },
  created: function () {
  },
  computed: {
    ...mapGetters(['getHeaderObject']),
    getBackgroundHeader () {
      if (this.getHeaderObject.background) {
        let perem = this.getHeaderObject.background
        return perem
      }
    }
  }
}
</script>

<template>
<div id="headers">
  <div class='row Intro'>
    <div class="backgroundImg" :style="{background: 'url('+ getBackgroundHeader +')center center / cover'}">
      <div class="introText">
          <div class="content__container">
            <ul class="content__container__list">
              <li class="content__container__list__item">DESIGN</li>
              <li class="content__container__list__item">PROGRAMMING</li>
              <li class="content__container__list__item">GRAPHIC</li>
            </ul>
          </div>
          <p class="textAboutUS">{{getHeaderObject.text_header}}</p>
      </div>
    </div>
  </div>
</div>
</template>

<style scoped lang="scss">
@import "../assets/style.scss";

.backgroundImg{
  width: 100%;
  margin: 40px 0px;
  padding: 8% 0% 5.5% 0%;
}

// 
.content {
 &__container {
    font-weight: 600;
    overflow: hidden;
    height: 60px;
    margin: 30px 0px 22px 0px;
    font-size: 4em;
    color: $color-openMenu;
  @media (max-width: 768px) {
    .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 60px;
    margin: 0px;
    font-size: 2em;
    color: #00599f;
    }
  }

    &__list {
      margin-top: 0;
      padding: initial;
      text-align: center;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height:60px;
        margin:0;
      }
    }
  }
}
@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-33%,0);}
  33.32%,45.98% {transform:translate3d(0,-66%,0);}
  49.98%,62.64% {transform:translate3d(0,-33%,0);}
  66.64%,79.3% {transform:translate3d(0,0%,0);}
  // 83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
// @-o-keyframes change {
//   0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//   16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//   33.32%,45.98% {transform:translate3d(0,-50%,0);}
//   49.98%,62.64% {transform:translate3d(0,-75%,0);}
//   66.64%,79.3% {transform:translate3d(0,-50%,0);}
//   83.3%,95.96% {transform:translate3d(0,-25%,0);}
// }
@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
// @-moz-keyframes change {
//   0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//   16.66%, 29.32% {transform:translate3d(0,-30%,0);}
//   33.32%,45.98% {transform:translate3d(0,-50%,0);}
//   49.98%,62.64% {transform:translate3d(0,-75%,0);}
//   66.64%,79.3% {transform:translate3d(0,-50%,0);}
//   83.3%,95.96% {transform:translate3d(0,-25%,0);}
// }
@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
// @keyframes change {
//   0%, 12.66%, 100% {transform:translate3d(0,-0%,0);}
//   16.66%, 29.32% {transform:translate3d(0,-35%,0);}
//   33.32%,45.98% {transform:translate3d(0,-70%,0);}
//   49.98%,62.64% {transform:translate3d(0,-35%,0);}
//   66.64%,79.3% {transform:translate3d(0,0,0);}
// }
.textAboutUS{
  font-size: 1.3em;
}
</style>