<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'menu',
  data () {
    return {
      name: 'menu'
    }
  },
  methods: {
    toggleMenu () {
      let toggle = document.getElementById('menu')
      toggle.classList.toggle('toggleMenu')
      document.body.classList.toggle('noScroll')
      if (toggle.classList.contains('toggleMenu')) {
        // document.body.classList.remove('noScroll')
        console.log('true!')
      }
      console.log('close menu')
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
<div id="menu" class="toggleMenu">
  <div class='row align-items-start justify-content-between'>
    <div class="col-1 logo"><a href="#" @click="toggleMenu"><img src="../assets/logo.svg"/></a></div>
    <div class="col-1 buttonClose">
      <a href="#" @click="toggleMenu"><span></span></a>
    </div>
  </div>
  <div class='row align-items-center align-self-start'>
    <ul class="menu col-12"  @click="toggleMenu">
      <li class="items_menu"><router-link to="/">Главная</router-link></li>
      <li class="items_menu"><router-link to="/aboutUs">О нас</router-link></li>
      <li class="items_menu"><a href="#">Проекты</a></li>
      <li class="items_menu"><a href="#">Услуги</a></li>
      <li class="items_menu"><router-link to="/brief">Бриф</router-link></li>
      <li class="items_menu"><router-link to="/vacancy">Вакансии</router-link></li>
    </ul>
  </div>
  <div class='row align-items-end align-self-center'>
    <ul class="menu col-12">
      <li class="social items_menu"><a href="#"><img src="../assets/social/facebook.png"/></a></li>
      <li class="social items_menu"><a href="#"><img src="../assets/social/instagram.png"/></a></li>
      <li class="social items_menu"><a href="#"><img src="../assets/social/twitter.png"/></a></li>
    </ul>
  </div>
  <div class='row align-items-end align-self-end'>
    <ul class="menu col-12">
      <li class="social items_menu"><a href="#">en</a></li>
      <li class="social items_menu"><a href="#">ru</a></li>
    </ul>
  </div>
</div>
</template>

<style scoped lang="scss">
@import "../assets/style.scss";

.toggleMenu{
  display: none;
}
#menu {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #373e4c;
  padding: 40px 57px 40px 40px;
  @media (max-width: 768px) {
    padding: 20px;
  }
}
.logo, .buttonClose{
  margin: 0;
  padding: 0;
}
.logo a img{
  display: block;
  width: 110px;
}
.buttonClose a{
  float: right;
  width: 30px;
  height: 23px;
  overflow: hidden;
  transition: 0.3s;
}
.buttonClose a span{
  float: left;
  width: 30px;
  height: 3px;
  background-color: transparent;
  position: relative;
  top: 10px;
  transition: 0.3s;
}
.buttonClose a span:hover{
  transform: rotate(180deg);
}
.buttonClose a span:before{
  @include buttonClose(-45)
}
.buttonClose a span:after{
  @include buttonClose(45)
}
.menu{
  list-style-type: none;
}
.items_menu{
  display: inline-block;
  @media (max-width: 768px) {
    display: block;
  }
  @media (max-width: 768px) and (orientation:landscape) {
    display: inline-block;
  }
}
.items_menu > a{
  color: $color-white;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 20px;
}
.social{
  display: inline-block;
  @media (max-width: 320px) {
    display: inline-block;
  }
}
.align-items-center {
  padding: 35vh 0vh 20vh 0vh;
  @media (max-width: 768px) {
    padding: 10vh 0vh 5vh 0vh;
  }
}
</style>