<script>
export default {
  name: 'ourServices',
  data () {
    return {
      name: 'ourServices'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getHeaderObject'])
  }
}
</script>

<template>
<div class="container-fluid">
<div id="ourService">
  <div class='row col-12'>
    <div class="col-12 col-sm-6 col-md-3 items_service">
      <a href="#">
      <img src="../assets/ourservice/webdesign.svg">
      <p class="text_service">Веб дизайн</p>
      <p class="right_arrow">&#10142;</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 items_service">
      <a href="#">
          <img src="../assets/ourservice/uidesign.svg">
          <p class="text_service">Графический дизайн</p>
          <p class="right_arrow">&#10142;</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 items_service">
      <a href="#">
        <img src="../assets/ourservice/programming.svg">
        <p class="text_service">Программирование</p>
        <p class="right_arrow">&#10142;</p>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 items_service">
      <a href="#">
        <img src="../assets/ourservice/seo.svg">
        <p class="text_service">Интернет-маркетинг</p>
        <p class="right_arrow">&#10142;</p>
      </a>
    </div>
  </div>
</div>
</div>
</template>

<style scoped lang="scss">
@import "../assets/style.scss";

#ourService {}
.col-12{
  margin: 0;
  padding: 0;
}
.items_service{
    padding: 0;
    margin: 0;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
.items_service:last-child{
    border-right: 1px solid $border-color;
}
.items_service:hover{
  background: $color-openMenu;
  border: 1px solid $color-openMenu;
  .right_arrow{
  color: $color-white;
  }
  & a img{
  filter: grayscale(68) invert(100%) brightness(2);
  -webkit-filter: grayscale(68) invert(100%) brightness(2);
  }
}
.items_service a{
  display: block;
  color: $color-text;
  height: 100%;
}
.items_service a img{
  height: 109px;
  margin: 5% 0%;
}
.items_service a:hover{
  display: block;
  color: $color-white;
  text-decoration: none;
}
.right_arrow{
  color: $color-openMenu;
  font-size: 2em;
}
</style>