<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'topMenu',
  data () {
    return {
      name: 'topMenu'
    }
  },
  methods: {
    toggleMenu () {
      document.getElementById('menu').classList.toggle('toggleMenu')
      document.body.classList.toggle('noScroll')
      console.log('open menu')
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div id="topMenu" class='row align-items-start justify-content-between'>
    <div class="col-1 logo"><router-link to="/"><img src="../assets/logoBlue.svg"/></router-link></div>
    <div class="col-1 buttonOpen">
      <a href="#" @click="toggleMenu"><span></span></a>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "../assets/style.scss";

.logo, .buttonClose, .buttonOpen{
  margin: 0;
  padding: 0;
}
.logo{text-align: left;}

.logo > img{
  display: block;
  width: 110px;
}
.buttonOpen a{
  width: 30px;
  height: 24px;
  float:right;
}
.buttonOpen a span{
  float: left;
  width: 30px;
  height: 3px;
  background-color: $color-openMenu;
  position: relative;
  top: 11px;
  transition: 0.3s;
}
.buttonOpen a span:before {
  @include buttonOpen;
  top: -11px;
}
.buttonOpen a span:after {
  @include buttonOpen;
  bottom: -11px;
}
</style>