<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'vacancyTemplate',
  data () {
    return {
      name: 'vacancyTemplate'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
  <div id='vacancyTemplate'>
    <div class='row align-items-start justify-content-between'>
      <div class="col-12 titleVacancy"><p>Вакансии</p></div>
      <div class="col-12 textVacancy"><p>Мы ищем людей, готовых ежедневно развиваться и не бояться трудных задач</p></div>
      <div class="row col-12 align-items-start justify-content-center blockVacantion">
        <div class="col-12 col-sm-6 col-md-3 blockSelectVacancy">
      <a href="/" @click.stop.prevent>
        <img src="../assets/ourservice/webdesign.svg">
        <p class="text_service">Веб дизайнер</p>
        <div class="vacationHover">
          <h3>Навыки:</h3>
          <p>Adobe illustrator</p>
          <p>Adobe inDesign</p>
          <p>Adobe Photoshop</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 blockSelectVacancy">
      <a href="/" @click.stop.prevent>
        <img src="../assets/ourservice/programming.svg">
        <p class="text_service">Веб разработчик</p>
        <div class="vacationHover">
          <h3>Навыки:</h3>
          <p>HTML (включая Bootstrap) </p>
          <p>WordPress</p>
          <p>JavaSkript (jquery)</p>
          <p>CSS, SCSS</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 blockSelectVacancy">
      <a href="/" @click.stop.prevent>
        <img src="../assets/ourservice/seo.svg">
        <p class="text_service">Фронтенд разработчик</p>
        <div class="vacationHover">
          <h3>Навыки:</h3>
          <p>Angular, VueJs, React</p>
          <p>CSS, SASS, SCSS</p>
          <p>Опыт работы с ES6</p>
          <p>Node JS и NPM</p>
        </div>
      </a>
    </div>
      </div>
      <div class="col-md-12 buttonSubmitJob"><input @click="$emit('openFeedBackApp')" type="button"  name="buttonSubmitJob" value="Отправить заявку"></div>
    </div>
  </div>
</template>

<style scoped lang="scss">

@import "../assets/style.scss";

#vacancyTemplate { }

.titleVacancy p{
  // color: $color-text;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  margin: 5% 0% 2% 0%;
}
.textVacancy p{
  color: $color-text;
  text-align: center;
  font-size: 1.2em;
}
.blockSelectVacancy {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
.blockSelectVacancy:last-child {
    border-right: 1px solid $border-color;
}
.blockSelectVacancy:hover {
  border: 1px solid $color-openMenu;
}
.blockSelectVacancy a {
  display: block;
  color: $color-text;
  height: 100%;
}
.blockSelectVacancy a img{
  width: 100px;
  height: 180px;
}
.blockSelectVacancy a:hover {
  .vacationHover {
    position: absolute;
    padding: 9%;
    background: $color-openMenu;
    color: $color-white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}
.vacationHover {
  display: none;
}
.vacationHover p{
  margin-bottom: 0.1em;
  font-size: 0.9em;
}
.vacationHover h3{
  margin-bottom: 0.8em;
}
.blockVacantion {
  margin: 3% 0%;
}
.buttonSubmitJob input {
  background: transparent;
  border-radius: 30px;
  padding: 10px 4.2%;
  color: $color-openMenu;
  text-align: center;
  border: 2px solid $color-openMenu;
  margin: 10px 10px;
  font-size: 1em;
}
.buttonSubmitJob input:hover {
  background: $color-openMenu;
  border-radius: 30px;
  padding: 10px 4.2%;
  color: $color-white;
  text-align: center;
  border: 2px solid $color-openMenu;
  margin: 10px 10px;
  font-size: 1em;
}
</style>