// mixins
@mixin transform($scale) {
  transform: $scale;
}
@mixin transition($opacity, $transform) {
  transition: $opacity, $transform;
}
@mixin transform-origin($transformOrigin) {
  transform-origin: $transformOrigin;
}
@mixin buttonClose($rotate){
  content: '';
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  transform: rotate($rotate + deg);
}
@mixin buttonOpen(){
  content: '';
  width: 30px;
  height: 3px;
  background-color: $color-openMenu;
  position: absolute;
  left: 0;
}

// variables
$color-text: #373e4c;
$border-color: #eaeaea;
$color-openMenu: #00599f;
$color-blue: #3480d9;
$color-white: white;
$color-grey: #808080;

// template selectors
input, textarea, select {outline:none;}